@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-neutral-900;
}

body *::selection {
  @apply bg-emerald-200/80 text-neutral-900 dark:bg-emerald-200/50 dark:text-neutral-300;
}

/* [START] SuccessAlert */
.successAlert {
  @apply fixed top-5 z-[9999] w-screen text-center 
    transition-all duration-150 ease-linear;
}

.successAlert span {
  @apply rounded-xl border-4 border-emerald-600 bg-emerald-400 pb-2 pl-5 pr-5 
    pt-2 text-sm;

  @apply lg:pl-10 lg:pr-10 lg:text-lg;
}
/* [END] SuccessAlert */

/* ---------- [START] Navbar ---------- */
.sidebar-icon {
  @apply mx-auto mb-2 mt-2 flex h-12 w-12 cursor-pointer 
    items-center justify-center rounded-3xl bg-[#b3b3b3] shadow-lg 
    transition-all duration-150 ease-linear hover:rounded-xl 
    hover:bg-emerald-700 hover:text-neutral-300 dark:bg-neutral-800 
    dark:hover:bg-emerald-500 dark:hover:text-neutral-800;

  @apply lg:h-16 lg:w-16;
}

.sidebar-icon:has(> .navbar_element.active) {
  /* Apply styles to the parent element */
  @apply dark:border-2 dark:border-emerald-500;
}

.sidebar-tooltip {
  @apply absolute left-16 m-2 w-auto min-w-max origin-left scale-x-0 
    rounded-md bg-neutral-300 p-2 
    text-sm font-bold text-emerald-700 shadow-md
    transition-all duration-150 ease-linear dark:bg-neutral-800 dark:text-emerald-500;

  @apply lg:left-20 lg:text-lg;
}

.logo {
  @apply dark:bg-emerald-500 dark:text-neutral-800 
  dark:hover:bg-emerald-400;
}

.sidebar-hr {
  @apply mx-2 rounded-full border border-[#b3b3b3]
    transition-all duration-150 ease-linear dark:border-neutral-800;
}

/* ---------- [END] Navbar ---------- */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
